{% extends "maykin_common/api/index_base.html" %}
{% load i18n %}


{% block page_title %}{{ settings.PROJECT_NAME }}{% endblock %}
{% block page_subtitle %}{{ settings.SITE_TITLE }}{% endblock page_subtitle %}


{% block content_nl %}
<p>Deze API is bedoeld als registratie van herbruikbare lijsten waarbij de waarden van deze lijsten mag worden opgeslagen in andere registraties. Dit voorkomt onnodige calls naar deze API voor enkel een tekstuele waarde.</p>
{% endblock content_nl %}

{% block content_en %}
<p>This API is intended as a registration of reusable data lists where the values of these lists may be stored in others registrations. This prevents unnecessary calls to this API for just one textual value.</p>
{% endblock content_en %}


{% block license_link %}https://github.com/maykinmedia/referentielijsten/blob/master/LICENSE.md{% endblock %}


{% block api_links %}
    {% url "schema" version=version as api_docs_link %}
    {% url "api-root" version=version as api_schema_link %}

    {% with api_docs_link=api_docs_link api_schema_link=api_schema_link %}
        {{ block.super }}
    {% endwith %}

{% endblock %}
